name: Scrape Clim치tico Diario

on:
  schedule:
    - cron: "0 17 * * *"  # 12 PM Hora Peruana (UTC-5)
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          
      - name: Instalar Chrome
        uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: stable  # Versi칩n estable de Chrome
          
      - name: Instalar dependencias
        run: |
          sudo apt-get update
          sudo apt-get install -y chromium-chromedriver
          python -m pip install -r requirements.txt
          
      - name: Crear estructura de carpetas
        run: |
          mkdir -p datos_clima
          
      - name: Ejecutar scraper
        working-directory: ./Codigos
        run: |
          python clima_scraper.py
          
      - name: Commit y Push
        run: |
          git config --global user.email "diogo.abregu.g@uni.pe"
          git config --global user.name "DiogoAbreguAG"
          git add datos_clima/*
          git commit -m "Actualizaci칩n autom치tica: $(date +'%Y-%m-%d %H:%M')"
          git push